html {
  font-size: 100%;
}

#container {
  margin: auto;
  width: 95%;
}

p {
   color: #002738;
   font-family: 'Merriweather', Georgia, "Times New Roman", serif;
   font-size:1rem;
   line-height: 2rem;
   text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #007bb0;
  font-family: 'Merriweather Sans', Helvetica, Arial, sans-serif;
  font-size:3rem;
  margin-bottom: 1rem;
  font-weight:bold;
  text-align:center;
}

a:link {
  color: #002738;
  text-decoration:none;
}

a:visited {
  color: purple;
  text-decoration:none;
}

a:hover {
  color: #00bfff;
  text-decoration: none;
  }

a:active {
  color: black;
  text-decoration: none;
  }

img {
  border: none;
  display: block;
  margin: auto;
  width:50%;
  }

#container {
  background-color: #c2b3a3;
}


ul {
  list-style-type: none;
  }

  #nav {
    padding: 0;
    }

  #nav li{
    float:left;
    margin: 0;
    padding: 0;
    width: 25%;
    }

    #nav a:link, a:visited {
      display: block;
      color: #002738;
      background-color: #e3f7ff;
      font-weight: bold;
      text-align: center;
      font-family: 'Fjalla One', sans-serif;
    }

      #nav a:hover, a:active {
        background-color: #007bb0;
          }

.italic {
  font-style: italic;
}
    #sidebar {
      display: flex;
      width: 400px;
      height: 250px;
      background-color: #e3f7ff;
      flex-direction: column;
      justify-content: flex-start;
}

    #main {
      display: flex;
      width: 400px;
      height: 250px;
      justify-content:center;
      }
