html {
  font-size: 100%;
}

#container {
  margin: auto;
  width: 95%;
}

p {
   color: #b2afae;
   font-family: 'Merriweather', Georgia, "Times New Roman", serif;
   font-size:1rem;
   line-height: 2rem;
   text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #007bb0;
  font-family: 'Merriweather Sans', Helvetica, Arial, sans-serif;
  font-size:3rem;
  margin-bottom: 1rem;
  font-weight:bold;
  text-align:center;
}

a:link {
  color: #b2afae;
  text-decoration:none;
}

a:visited {
  color: purple;
  text-decoration:none;
}

a:hover {
  color: #00bfff;
  text-decoration: none;
  }

a:active {
  color: black;
  text-decoration: none;
  }

img {
  border: none;
  display: block;
  margin: auto;
  width:50%;
  }

#container {
  background-color: #ffebe1;
}


ul {
  list-style-type: none;
  }

  #nav {
    padding: 0;
    }

  #nav li{
    float:left;
    margin: 0;
    padding: 0;
    width: 25%;
    }

    #nav a:link, a:visited {
      display: block;
      color: #b2afae;
      background-color: #aefffa;
      font-weight: bold;
      text-align: center;
      font-family: 'Fjalla One', sans-serif;
    }

      #nav a:hover, a:active {
        background-color: #56b2ac;
          }

.italic {
  font-style: italic;
}
