p {
   color: #666666;
   font-family: Helvetica, Arial, sans-serif;
   font-size:0.8em;
   font-style:bold;
   text-align:left;
   margin:auto;
}
h1 {
  color: #00bfff;
  font-family: Georgia, "Times New Roman," serif;
  font-size:2em;
  font-style:italic;
  text-align:left;
  margin:auto;
}
a:link {
  color: #666666;
  text-decoration:none;
  margin:auto;
}

a:visited {
  color: purple;
  text-decoration:none;
  margin:auto;
}

a:hover {
  color: #00bfff;
  text-decoration: none;
  margin:auto;
  }

a:active {
  color: black;
  text-decoration: none;
  margin:auto;
  }


img {
  border: none;
  margin:auto;
  }

#container{
  background-color: #fff8dc;
  margin:auto;
}


ul {
  list-style-type: none;
  margin:auto;
  }
